{
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "always",
	"printWidth": 100,
	"endOfLine": "auto",
	"proseWrap": "preserve",
	"jsxSingleQuote": false,
	"htmlWhitespaceSensitivity": "css"
}
